MAIN_VITE_HARVEST_CLIENT_ID=your_harvest_client_id_here
MAIN_VITE_HARVEST_CLIENT_SECRET=your_harvest_client_secret_here
MAIN_VITE_JIRA_CLIENT_ID=your_jira_client_id_here
MAIN_VITE_JIRA_CLIENT_SECRET=your_jira_client_secret_here
